name: Node.js CI Workflow Design   

on:                                   # When should this workflow run?
  push:                               # Run on every push to these branches
    branches: [ "main" ]
  pull_request:                       # Run on every PR targeting these branches
    branches: [ "main" ]

jobs:
  test-job:                          
    name: Run Unit Tests              
    runs-on: ubuntu-latest            # What machine runs the job : Ubuntu-> GitHub-hosted Linux VM
    steps:                            # Individual steps to execute in the job in order
      - name: Checkout Code          
        uses: actions/checkout@v4     # 1: Pulling our code in the VM runner

      - name: Setup Node.js           
        uses: actions/setup-node@v4   # 2: Setting up Node.js environment in the VM runner
        with:
          node-version: 20            
          cache: 'npm'                # Optimization: caches dependencies for faster runs # no need to download everytime

      - name: Install Dependencies    
        run: npm ci                   # 'npm ci' is faster & cleaner for CI than 'npm install' so used it

      - name: Run Jest Tests          # 4: Executing the test script
        run: npm test                 # This runs 'jest' as defined in package.json